.card-divider {
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between;
}

.listCardTitle {
  margin:auto;
  width: 50%;
  text-align:center;
}

h6[contenteditable=true]{

  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  background-color: #e5ead6;
}